.sidenav {
  display: none;
}

.sidenav.show.dark {
  background-color: #0b0b0b;
}

.sidenav.show {
  display: block;
  background-color: whitesmoke;
  height: 100vh;  
}

.sidenavbar-header {
  background-color: #232946;
  padding: 1rem;  
}

.sidenavbar-header .hidden-close-sidenav {
  display: none;
}

.sidenavbar-header

.sidenavbar-header.dark {
  background-color: #7f5af0;
}

.sidenavbar-header a {  
  color: #fffffe;
}

.sidenavbar-header a:hover {  
  color: #b8c1ec;
}

.sidenavbar-links p {
  padding: 1rem;
  font-size: 0.9rem;
  color: #7a7a7a;
}

.sidenavbar-links p.dark {
  color: #94a1b2;
}

.btn-dropdown {
  width: 100%;
  padding: 1rem;
  text-align: start;
  background-color: inherit;
  border-radius: 0;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-dropdown.dark {
  color: #fffffe;
}

.btn-dropdown:hover,
.btn.active {
  background-color: rgb(212, 212, 212);
}

.btn-dropdown.dark:hover,
.btn.active.dark {
  background-color: #72757e;
}

.subcontent-dashboard,
.subcontent-themes {
  display: none;
}

.subcontent-dashboard.show,
.subcontent-themes.show {
  display: block;
}

.subcontent-dashboard i,
.subcontent-themes {
  margin-right: 1rem;
}

.subcontent-dashboard button,
.subcontent-themes button {
  width: 100%;
  padding: 1rem 2rem;
  text-align: start;
  background-color: inherit;
  border-radius: 0;
  font-size: 1rem;
  cursor: pointer;
}

.subcontent-dashboard button.dark,
.subcontent-themes button.dark {
  color: #fffffe;
}

.subcontent-dashboard button:hover,
.subcontent-themes button:hover {
  background-color: rgb(212, 212, 212);
}

.subcontent-dashboard button.dark:hover,
.subcontent-themes button.dark:hover {
  background-color: #72757e;
}

@media screen and (max-width: 430px){
  .sidenav {
    position: fixed;
    top: 0;
    z-index: 99999;
  }  

  .sidenavbar-header {
    display: flex;
    justify-content: space-between;
  }

  .sidenavbar-header .hidden-close-sidenav {
    display: block;
  }

  .sidenav.show {
    display: block;
    background-color: whitesmoke;
    height: 100vh;  
    width: 100vw;
  }  
}