.topnavbar {  
  color: black;
  background-color: whitesmoke;
  display: grid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;  
}

.topnavbar.dark {  
  color: #fffffe;
  background-color: #0b0b0b;  
}

.topnavbar-toggle {
  display: flex;
  align-items: center;
}

.topnavbar a {
  color: black;
}

.topnavbar a.dark {
  color: #fffffe;
}

.topnavbar-menus {
  display: flex;
  align-items: center;
}

.topnavbar-menus a {  
  line-height: 0;  
  margin-left: 2rem;
  font-size: 1.5rem;
}

.topnavbar-menus a.dark {  
  color: #fffffe;
}